<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <script src="https://kit.fontawesome.com/1e6cfe0430.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
    <div id="app">
        <main class="main">
            <aside class="sidebar">
                <header class="sidebar__header">
                    <div class="profile">
                        <img src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt="">
                        <h3>Paolo</h3>
                    </div>
                    <div class="buttons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>
                <div class="sidebar__main">
                    <div class="notifications">
                        <div class="icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notifications__info">
                            <span class="notifications__text">
                                Ricevi notifiche di nuovi messaggi
                            </span>
                            <span class="notifications-cta">
                                Attiva notifiche desktop
                            </span>
                        </div>
                    </div>
                    <div class="search-bar">
                        <div class="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input type="text" placeholder="cerca una chat">
                    </div>
                    <ul class="recent-chats">
                        <li class="contact" :class="index === activeContactIndex ? 'active' : ''" @click="activeContact(index)" v-for="(person, index) in contacts">
                            <div class="contact-info">
                                <img :src="person.avatar" alt="">
                                <div>
                                    <span class="contact-name">{{ person.name }}</span>
                                    <span class="last-message">{{ cutMessage(person.messages[lastMessage(index)].message) }}</span>
                                </div>
                            </div>
                            <span class="last-message-time">{{dateToHHmm(person.messages[lastMessage(index)].date)}}</span>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="chat">
                <div class="chat__header">
                    <div class="current-contact">
                        <img :src="contacts[activeContactIndex].avatar" alt="">
                        <div>
                            <span class="contact-name">{{ contacts[activeContactIndex].name }}</span>
                            <span class="last-seen">Ultimo accesso alle 16:55</span>
                        </div>
                    </div>
                    <div class="chat__header-buttons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="chat__main">
                    <div v-for="(message, index) in contacts[activeContactIndex].messages" class="text" :class="contacts[activeContactIndex].messages[index].status === 'sent' ? 'text-sent' : 'text-received'">
                        <div class="message-components">
                            <span class="message-text">{{ message.message }}</span>
                            <span class="message-time">{{ dateToHHmm(message.date) }}</span>
                        </div>
                    </div>
                </div>
                <div class="chat__input">
                    <i class="fa-regular fa-face-smile"></i>
                    <input v-model="newMessage" @keyup.enter="sendMessage" type="text" placeholder="Scrivi un messaggio">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </main> 
    </div>

    <script src="./js/app.js"></script>
</body>
</html>